/* Colors */
/* Prelude : #C9B6DB */
/* Alabaster : #faf9fa */
/* Sandwisp : #f4f6a5  */
/* Mine Shaft : #373737 */
/* Light Orchid : #edb9e8 */
/* Cruise : #b9e7ed */

/* Tape Opacity */
/* Pictures : 60% */
/* Title : 75% */
/* CV titles : 75% */
/* Projects : 75% */

/* TODO shape shadows */
/* BASE */
html {
  scroll-behavior: smooth;
}
body {
  background-color: #C9B6DB;
  color: #373737;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

/* HEADERS */
h1 {
  color: #faf9fa;
  font-family: 'Montserrat';
  font-size: 65px;
}
h2,
.tape-title {
  font-family: 'Playfair Display';
  font-size: 36px;
}
/* FOOTER */
.footer {
  position: relative;
}
.footer-links {
  font-size: 30px;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
}
.footer-links a {
  color: #F95F62;
  margin: 0 10px;
}
.back-to-top {
  position: absolute;
  right: 40px;
  top: -10px;
}
.back-to-top a {
  font-size: 48px;
  color: #8B8098;
}
/* STATE */
@keyframes appearing {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes disappearing {
  0% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}
.hidden {
  opacity: 0;
}
.inactive {
  opacity: 0;
  animation: disappearing 0.7s cubic-bezier(0.200, 0.600, 0.350, 1.000) both;
}
.active {
  opacity: 1;
  animation: appearing 0.7s cubic-bezier(0.200, 0.600, 0.350, 1.000) both;
}
